body {
  font-family: "open sans", helvetica, sans-serif;
  /* border: 1px red solid; */
}

a:hover {
  text-decoration: none;
}

.home-background {
  background-image: url("/images/home-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.home-grid-container {
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.home-item-highlight {
  background-color: rgba(7, 6, 6, 0.438);
}

.home-title-text {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgba(236, 236, 246, 0.972);
}

.home-menu-text {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgb(241, 200, 85);
}

.bg-menu {
  background-color: #ffffcc;
}

.card {
  background-color: rgb(250, 250, 236);
}
